.city {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    box-shadow: 0 2px 5px rgb(230, 220, 220);
    background: transparent;
    color: white;
    width: 20%;
    height: 165px;
    padding-top: 20px;
    border-radius: 100px;
}

.info {
    margin-top: 5px;
}

.container {
    display: flex;
    justify-content: center;
}